body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(229, 248, 252);
}

body a {
  text-align: center;
}

canvas {
  display: block;
}

/* ----
particles container
---- */

#particles {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #36a5be;
}

/* ----
navbar
---- */

#rightnav{
  float: right;
}

nav {
  background-color: rgba(45, 132, 150, 0.644);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
  float: left;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  background-color: rgb(32, 71, 83);
}

nav cite {
  float: right;
  padding: 14px 16px;
  font-style: italic;
  font-size: 15px;
}


@media (max-width: 910px) {
  nav cite {
    display: none;
  }
}


.active {
  background-color: rgb(255, 255, 255);
}

/* ----
content
---- */

header {
  position: absolute;
  left: 0;
  font-size: 100%;
  width: 100%;
  text-align: center;
}

#home {
  top: 39%;
  color: white;
}

#style3 {
  font-style: cursive;
}

header article{
  margin-left: 15%;
  margin-right: 15%;
}

header article a:hover{
  background-color: rgb(255, 255, 0);
}

header article a{
  text-decoration: none;
  color: rgb(0, 0, 0)
}

#ref {
  margin-bottom: 2em
}


/* ----
main content
---- */

main {
    width: 100%;
    height: auto;
    padding-top: 2%;
    position: absolute;
    color: black;
}

article {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1%;

}

.margintop {
    margin-top: 5em;
}

.aboutus {
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 1%;
}

.margin-bot {
  margin-bottom: 3em;
}

.margin-bot-small {
  margin-bottom: 1em;
}

.margin-end {
  margin-bottom: 60px;
}

@media (max-width: 850px) {
  .aboutus {
    margin-right: 15%;
    margin-left: 15%;
  }
}


/* ----
Timeline
---- */

* {
    box-sizing: border-box;
}

#timeline {
  position: relative;
  max-width: 55%;
  margin: 0 auto;
}

#timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(87, 75, 255);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

#timeline article {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

#timeline article h2 {
    display: none;
}

#timeline article::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 17, 255);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 35%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

#timeline section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

#timeline section a:hover {
    background-color: yellow;
}

.session-information-green {
  margin-top: 6px;
  padding: 2px 6px;
  border-left: 6px solid rgb(92, 252, 113);
  background-color: rgb(219, 252, 206);
  text-align: left;
}

.session-information-brown {
  margin-top: 6px;
  padding: 2px 6px;
  border-left: 6px solid rgb(249, 252, 92);
  background-color: rgb(249, 252, 206);
  text-align: left;
}

.session-information-blue {
  margin-top: 6px;
  padding: 2px 6px;
  border-left: 6px solid rgb(92, 92, 252);
  background-color: rgb(206, 238, 252);
  text-align: left;
}

.session-information-yellow {
  margin-top: 6px;
  padding: 2px 6px;
  border-left: 6px solid rgb(238, 255, 0);
  background-color: rgb(252, 251, 206);
  text-align: left;
}

.description {
  text-align: justify;
  margin-bottom: 17px;
}

@media (max-width: 850px) {
  #timeline {
    max-width: 95%;
  }
}

@media all and (max-width: 5000px) {
    #timeline::after {
        left: 31px;
    }

    #timeline article {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    #timeline article::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: -15%;
    }
}



/* ----
header footer
---- */

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(45, 132, 150, 0.452);
  color: white;
  padding: 8px;
  margin-top: 20px;
  text-align: center;
}

.social {
  width: 2.5em;
  height: auto;
  margin-left: 0.8em;
}

.social:hover {
  outline: 1px solid white;
}

footer a:hover {
  background-color: #ffffff00;
}

/* ----
Profile card
---- */

.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.flex-container > div {
  background-color: #ffffff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 235px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  padding: 0.7em;
  margin: 1.5em;
}

.title {
  color: rgb(70, 70, 70);
  font-size: 100%;
}

a {
  text-decoration: none;
  color: rgb(2, 59, 66);
}

main a:hover {
  background-color: yellow;
}

.profile-interest {
  margin-top: 6px;
  padding: 2px 6px;
  border-left: 6px solid rgb(92, 92, 252);
  background-color: rgb(206, 238, 252);
  text-align: left;
}

/* ----
Competitions banner
---- */

.image {
  position: relative;
  height: auto;
}

.image img {
  width: 100%;
  vertical-align: top;
}

.image:after, .image:before {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.image:after {
  content: '\A';
  width: 100%; height:100%;
  top: 0; left:0;
  background: rgba(0, 0, 0, 0.466);
}

.image:before {
  content: attr(data-content);
  font-size: 32px;
  width: 100%;
  color: #fff;
  z-index: 1;
  padding: 30px 30px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
}

.image:hover:after, .image:hover:before {
  opacity: 1;
}

.flex-banner {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.warning-box {
  margin-top: 6px;
  padding: 2px 6px;
  border-left: 6px solid rgb(255, 0, 0);
  background-color: rgb(253, 204, 204);
  text-align: left;
}

.resize {
  width: 50%;
  height: auto;
}

.resize2 {
  width: 200px;
  height: auto;
}

.extra-space {
  margin-bottom: 7em;
}

.medium-space {
  margin-bottom: 4em;
}

.imedium-space {
  margin-bottom: 2.5em;
}

.leaderboard {
  margin-top: 6px;
  padding: 15px;
  border-left: 6px solid rgb(0, 255, 136);
  background-color: rgb(204, 255, 136);
  text-align: left;
}

.exercises {
  margin-top: 6px;
  padding: 15px;
  border-left: 6px solid rgb(4, 0, 255);
  text-align: left;
}



.tab-item {
  display: none;
}

.tab-button {
  background-color: rgba(45, 132, 150, 0.644);
  color: white;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;

}

.tab-button:hover {
  background-color: rgb(32, 71, 83);
}

#Firefox {
  display: block;
}