---
permalink: /
stylesheet: /css/main.css
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="full-flex">
<div id="particles">
  <script src="./js/particles.js"></script>
  <script src="./js/app.js"></script>
</div>
{% include navigation.html %}
<header id="home">
  <img src="img/logo-long.png" alt="Artificial Intelligence & Robotics Society Logo">
  <h1>Artificial Intelligence & Robotics Society</h1>
  <h2>University of Portsmouth</h2>
  <a href="https://upsu.net/memberships/view/CYGD8/artificial-intelligence-and-robotics" target="_blank"><h3>Join us today!</h3></a>
</header>
{% include footer.html %}
</body>
</html>
