<footer>
    <a href="https://www.facebook.com/PortAISociety/" target="_blank"><img class="social" src="/img/fb-icon.png" alt="Facebook Link"/></a>
    <a href="https://www.twitter.com/PortAISociety/" target="_blank"><img class="social" src="/img/tw-icon.png" alt="Twitter Link"/></a>
    <a href="https://instagram.com/PortAISoc/" target="_blank"><img class="social" src="/img/ig-icon.png" alt="Instagram Link"></a>
    <a href="https://www.github.com/PortAISociety/" target="_blank"><img class="social" src="/img/gh-icon.png" alt="GitHub Link"/></a>
    <a href="https://discord.gg/xbW7n8f" target="_blank"><img class="social" src="/img/ds.png" alt="Discord Link"/></a>
    <a href="https://www.linkedin.com/company/portaisociety/about/" target="_blank"><img class="social" src="/img/li-icon.png" alt="LinkedIn Link"/></a>
</footer>