---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<div id="particles">
  <script src="../js/particles.js"></script>
  <script src="../js/app.js"></script> 

  {% include navigation.html %}

  <header id="home">
    <h1>Committee Team</h1>
  </header>

  <main>
    <article>
      <h1>Committee Team</h1>
      <div class="flex-container medium-space">
        
        <!--President Profile -->
        <div class="card">
          <h1>Zac Wilson</h1>
          <p class="title">President</p>
          <p>Student, Computer Science</p>
          <p>zac.wilson@myport.ac.uk</p>
          <div class="profile-interest">
            <p><b>Interests</b></p>
            <p>Amateur Astronomy, Piano, Electronics</p>
          </div>
        </div>
        
        <!-- Vice President Profile -->
        <div class="card">
          <h1>Aidan Church</h1>
          <p class="title">Vice President</p>
          <p>Student, Computer Science</p>
          <p>aidan.church@myport.ac.uk</p>
          <div class="profile-interest">
            <p><b>Interests</b></p>
            <p>Machine Learning, AI, Programming, Music, Badminton</p>
          </div>
        </div>
        <!-- Tresurer Profile -->
        <div class="card">
          <h1>Karen Jury</h1>
          <p class="title">Treasurer</p>
          <p>Student, Mechanical Engineering</p>
          <p>karen.jury@myport.ac.uk</p>
          <div class="profile-interest">
            <p><b>Interests</b></p>
            <p>Reading, Maths, Suitable Engineering</p>
          </div>
        </div>
        
        <!-- Secretary Profile -->
        <div class="card">
          <h1>Sagarikka Sivakumar</h1>
          <p class="title">Secretary</p>
          <p>Student, Data Science</p>
          <p>Sagarikka.Sivakumar@myport.ac.uk</p>
          <div class="profile-interest">
            <p><b>Interests</b></p>
            <p>App Development, Drawing, Reading</p>
          </div>
        </div>
      </div>
      
      
      <article class="medium-space">
        <div class="session-information-yellow medium-space">
          <p>A special thanks to the former committee members for pouring their time, effort and dedication into the society:</p>
          <h3>2019-2020</h3>
          <ul>
            <li><b>Mikael Rozee</b> (President)</li>
            <li><b>Thomas Apter</b> (Vice-President)</li>
            <!-- <li><b>Cerys Gill</b> (Head of Robotics)</li> -->
            <li><b>Emily Maryon</b> (Secretary)</li>
            <li><b>Sam Drage</b> (Treasurer)</li>
            <!-- <li><b>Ali Moghnieh</b> (Webmaster)</li>
            <li><b>Marian Jitaru</b> (Merchandise Manager)</li>
            <li><b>Will Green</b> (Robotics Assistant)</li> -->
          </ul>
        </div>
      </article>
    </article>
  </main>

  {% include footer.html %}
</div>
</html>
